<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vurdalakov.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vurdalakov.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Vurdalakov.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="UpgradeUserSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyModifiers" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HotKeyVirtualKey" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="OpenFileExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetDirectory" serializeAs="String">
                <value />
            </setting>
        </Vurdalakov.Properties.Settings>
        <Vurdalakov.Settings>
            <setting name="Source" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>Png</value>
            </setting>
        </Vurdalakov.Settings>
    </userSettings>
</configuration>